{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('gerenciar_mercados') }}" style="text-decoration: none; color: #007bff; margin-bottom: 1rem; display: inline-block;">
        &larr; Voltar para Mercados
    </a>
    <h2>Editando Supermercado</h2>

    <form method="POST">
        <label for="nome">Nome do Supermercado:</label>
        <input type="text" name="nome" id="nome" value="{{ mercado.nome }}" required>
        
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" id="endereco" value="{{ mercado.endereco or '' }}" placeholder="Endereço (Opcional)">
        
        <button type="submit" style="background-color: #28a745;">Salvar Alterações</button>
    </form>
{% endblock %}
