{% extends 'base.html' %}

{% block content %}
    <h1>Bem-vindo, {{ current_user.username }}!</h1>
    <p>Use o menu de navegação para gerenciar seus dados.</p>
    
    {% if current_user.role == 'admin' %}
        <a href="{{ url_for('prices.registrar_preco') }}" style="display: inline-block; padding: 1rem; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
            + Registrar um Novo Preço
        </a>
    {% endif %}

    <hr>
    <h3>Últimos Preços Registrados</h3>
    {% if ultimos_precos %}
         <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Supermercado</th>
                    <th>Preço</th>
                     <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for preco in ultimos_precos %}
                <tr>
                    <td>{{ preco.produto.nome }} ({{ preco.produto.marca }})</td>
                    <td>{{ preco.supermercado.nome }}</td>
                    <td>R$ {{ "%.2f"|format(preco.valor) }}</td>
                    <td>{{ preco.data_cadastro.strftime('%d/%m/%Y') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum preço registrado ainda.</p>
    {% endif %}

{% endblock %}
