{% extends 'base.html' %}

{% block content %}
    <h1>Bem-vindo, {{ current_user.username }}!</h1>
    <p>Use o menu de navegação para gerenciar seus dados.</p>
    
    {% if current_user.role == 'admin' %}
        <a href="{{ url_for('prices.registrar_preco') }}" style="display: inline-block; padding: 1rem; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; margin-right: 10px; margin-bottom: 10px;">
            + Registrar um Novo Preço
        </a>
    
    {% elif current_user.role == 'user' %}
        <a href="{{ url_for('suggestions.sugerir_preco') }}" style="display: inline-block; padding: 1rem; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; margin-right: 10px; margin-bottom: 10px;">
            + Sugerir um Novo Preço
        </a>
    {% endif %}
    <a href="{{ url_for('core.download_backup') }}" style="display: inline-block; padding: 1rem; background-color: #6c757d; color: white; text-decoration: none; border-radius: 5px; margin-bottom: 10px; margin-right: 10px;">
        Baixar Backup (JSON)
    </a>
    
    <button id="syncButton" style="display: inline-block; padding: 1rem; background-color: #17a2b8; color: white; text-decoration: none; border-radius: 5px; margin-bottom: 10px; border: none; font-size: 0.9rem; font-family: sans-serif; cursor: pointer;">
        Sincronizar para Offline
    </button>
    <p id="syncStatus" style="font-size: 0.9em; margin-top: 0;"></p>

    <hr>
    <h3>Últimos Preços Registrados</h3>
    {% if ultimos_precos %}
         <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Supermercado</th>
                    <th>Preço</th>
                    <th>Data</th>
                    <th>Registrado por</th>
                </tr>
            </thead>
            <tbody>
                {% for preco in ultimos_precos %}
                <tr>
                    <td>{{ preco.produto.nome }} ({{ preco.produto.marca }})</td>
                    <td>{{ preco.supermercado.nome }}</td>
                    <td>R$ {{ "%.2f"|format(preco.valor) }}</td>
                    <td>{{ preco.data_cadastro.strftime('%d/%m/%Y') }}</td>
                    <td>
                        {% if preco.criado_por %}
                            {{ preco.criado_por.username }}
                        {% else %}
                            N/D
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhuma preço registrado ainda.</p>
    {% endif %}

{% endblock %}
